{% extends 'layout.html' %}

{% block head %}
  <script src='/socket.io/socket.io.js'>
  </script>
{% endblock %}

{% block body %}
  <div id='name-prompt-overlay'>
    <div id='name-prompt-container'>
      <form id='name-form'>
        <input type='text'
               id='name-input'
               placeholder='Enter a nickname...'
               autocomplete='off' />
        <button id='name-submit'
                type='button'>
          Play
        </button>
      </form>
    </div>
  </div>

  <div id='container'>
    <table id='content'>
      <tr>
        <th colspan='3'>
          <h1>
            Obsidio
          </h1>
          <h2>
            The game of guns, and strategy, but mostly guns.
          </h2>
        </th>
      </tr>
      <tr>
        <td id='leaderboard-container'>
          <h3>
            Leaderboard:
          </h3>
          <ul id='leaderboard'>
          </ul>
        </td>
        <td id='game-container'>
          <canvas id='canvas'>
          </canvas>
        </td>
        <td id='chat-container'>
          <ul id='chat-display'></ul>
          <input id='chat-input' type='text'
                 placeholder='Press Enter to send' />
        </td>
      </tr>
    </table>
    <div id='copyright'>
      &copy; 2015 Alvin Lin, Kenneth Li, and Hao Huang. All Rights Reserved.
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if dev_mode %}
  <script src='/static/js/base.js'>
  </script>
  <script src='/static/js/requestAnimFrame.js'>
  </script>
  <script src='/shared/Constants.js'>
  </script>
  <script src='/shared/Util.js'>
  </script>
  <script src='/static/js/game/AFK_Kicker.js'>
  </script>
  <script src='/static/js/game/Chat.js'>
  </script>
  <script src='/static/js/game/Drawing.js'>
  </script>
  <script src='/static/js/game/Game.js'>
  </script>
  <script src='/static/js/game/Input.js'>
  </script>
  <script src='/static/js/game/KillAnnouncer.js'>
  </script>
  <script src='/static/js/game/Leaderboard.js'>
  </script>
  <script src='/static/js/game/UI.js'>
  </script>
  <script src='/static/js/game/ViewPort.js'>
  </script>
  <script src='/static/js/client.js'>
  </script>
  {% else %}
  <script src='/static/dist/minified.js'></script>
  {% endif %}
{% endblock %}
