{% extends 'layout.html' %}

{% block head %}
  <script src="/socket.io/socket.io.js">
  </script>
{% endblock %}

{% block body %}
  <div id='name-prompt-overlay'>
    <div id='name-prompt-container'>
      <form id='name-form'>
        <div>
          <input type='text'
                 id='name-input'
                 placeholder='Nickname'
                 autocomplete='off' />
          <p style="color:white">Play</p>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div id='container'>
    <table id='content'>
      <tr>
        <th colspan='3'>
          <h1>
            Obsidio
          </h1>
          <h2>
            The game of guns, and strategy, but mostly guns.
          </h2>
        </th>
      </tr>
      <tr>
        <td id='leaderboard-container'>
          <h3>
            Leaderboard:
          </h3>
          <ul id='leaderboard'>
          </ul>
        </td>
        <td id='game-container'>
          <canvas id='canvas'>
          </canvas>
        </td>
        <td id='chat-container'>
          <ul id='chat-display'>
          </ul>
          <input id='chat-input' type='text'
                 placeholder='Press Enter to send' name='chat' />
        </td>
      </tr>
    </table>
    <div id='copyright'>
      &copy; 2015 Alvin Lin, Kenneth Li, and Hao Huang. All Rights Reserved.
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src='/static/dist/minified.js'></script>
{% endblock %}
